$primary-yellow: #ecc94b;
$dirty-yellow: #cdaf43;
$transparent-yellow: #eee3bac2;

//for event block
$block-blue: #eee3bac2;
$block-blue-hover: #eee3bac2;

$block-green: #eee3bac2;
$block-green-hover: #eee3bac2;

$block-red: #eee3bac2;
$block-red-hover: #eee3bac2;

$block-purple: #eee3bac2;
$block-purple-hover: #eee3bac2;

$block-orange: #eee3bac2;
$block-orange-hover: #eee3bac2;

$block-pink: #eee3bac2;
$block-pink-hover: #eee3bac2;

$block-brown: #eee3bac2;
$block-brown-hover: #eee3bac2;

$block-gray: #eee3bac2;
$block-gray-hover: #eee3bac2;
