.LandingPage-container {
  .writing-container {
    &:hover {
      .title-container {
        display: none;
      }
      .text-container {
        display: block;
      }
    }
  }
  .splide__slide {
    display: flex;
    justify-content: center;
  }
}
